# Snowflake

---

## Snowflake SQL Data Types
- Data types in Snowflake
- How to convert datatypes from postgres (or others) to snowflake

### Number

```SQL
NUMBER(p, s)
```
- `p` and `s` has max values = 38

### TIMESTAMP_LTZ
- Combines `DATE` and `TIME` with local time zone
- Format: `YYYY-MM-DD HH:MI:SS`

**Sample Code:**
```SQL
CREATE TABLE orders (
-- Timestamp with local time zone
order_timestamp TIMESTAMP_LTZ
    )
```

## Converting Data Types

1. CAST Syntax
   - `CAST ( <source_data/column> AS <target_data_type> )`
   - `CAST ('80' AS INT)`
2. ::Syntax
   - `<source_data/column>::<target_data_type>`
   - `'80'::INT`

**Sample Code:**
```SQL
SELECT CAST (order_timestamp AS DATE) AS order_date
FROM orders
```

3. Using `TO_` Functions
   - This is good for example if you want to concatenate different data types
**Sample Code:**
```SQL
SELECT id_name || TO_VARCHAR(id_int)
FROM table
```

### Checking Data Types
`DESC TABLE table`

---

## String Functions

### IINITCAP

syntax: `INITCAP(<expr>)`

sample:
```SQL
SELECT INITCAP(column) AS capitalized_column
FROM table
```

### CONCAT
syntax: `CONCAT(<exp1/column>, ' expression')`

---

## Joining in Snowflake

### Natural Join
- Automatically match columns and remove duplicate ones